@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


:root{
    --cor-primaria:#D98B8B;
    --cor-secundaria:#F2C2CD;
    --cor-terciaria:#FFEFD1;
    --cor-quarta:#FFCCD4;

    --fonte-primaria:"Oxygen", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.cabecalho{
    display: flex;
    justify-content: space-between;

}
.cabecalho__link{
    font-family: var(--fonte-primaria);
    font-size: 18px;
    position: fixed;
    left: 47px;
    top: 41px;
    text-decoration: none;
    color: var(--cor-secundaria);
}
.cabecalho__link1{
    font-family: var(--fonte-primaria);
    font-size: 18px;
    position: fixed;
    left: 202px;
    top: 41px;
    text-decoration: none;
    color: var(--cor-secundaria);
}

body {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
}

.apresentacao__titulo{
    font-family: var(--fonte-primaria);
    font-size: 32px;
    color: var(--cor-secundaria);
    display: flex;
    position: fixed;
    left: 647px;
    top: 86px;
}

.apresentacao__texto{
    font-family: var(--fonte-primaria);
    font-size: 20px;
    color: var(--cor-terciaria);
    position: fixed;
    left: 36px;
    top: 252px;
}

.quadrado {
    background: var(--cor-quarta);
    float: left;
    width: 1540px;
    height: 746px;
    position: fixed;
    left: 0px;
    top: 211px;
    border-radius: 2%;
    opacity: 47%;
}
.coracao{
    position: fixed;
    left:519px;
    top:86px;
}

.coracao1{
    position: fixed;
    left:863px;
    top:86px;
}
.botao__music{
    text-decoration: none;
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    position:fixed;
    left:610px;
    top:580px ;
    width:222px ;
    height: 63px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-primaria);
    font-size: 16px;
}
.spotify{
    color: var(--cor-quarta);
    position: fixed;
    left:501px;
    top:586px ;
    width:58px ;
    height: 52px;
}

.imagens1 {
    position: fixed;
    left: 70px;
    top: 255px;
    width:391px ;
    height:496px ;

}
.imagens2{
    position: fixed;
    left: 525px;
    top: 255px;
    width:391px ;
    height:496px ;
}
.imagens3{
    position: fixed;
    left: 992px;
    top: 255px;
    width:391px ;
    height:496px ;
}